@model Intake
@{
    var departments = ViewBag.Departments as IEnumerable<Department>;
    Layout = "_ManageLayout";
    ViewData["Title"] = $"{Model.IntakeName} Departments";
    var intakeDepartments = Model.IntakeDepartments;
}

<div class="container">
    <h2 class="alert-primary py-3 mb-0 text-center">Dapartment : @Model.IntakeName</h2>
    @if (departments != null && departments.Count() > 0)
    {
        <form class="bg-info" method="post">
            <input hidden asp-for="IntakeId" />
            <div class="row py-3 m-0">
                @foreach (Department department in departments)
                {
                    <div class="col-6">
                        <span>@department.DeptName </span>
                        <input @(intakeDepartments.FirstOrDefault(ind => ind.DepartmentId == department.DeptId) != null ? "checked" : "") type="checkbox" name="departments" value="@department.DeptId" />
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="Update" class="mb-3 mx-2 float-end px-4 py-1 btn btn-success" />
            </div>
        </form>
    }
</div>
