@model RegisterViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "New Account";
}

<div class="container">
    <form method="post" class="bg-info text-dark  p-5" asp-action="register" asp-controller="account" enctype="multipart/form-data">
        <h2 class="text-center">Register</h2>   
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row mb-3 mx-0 justify-content-center">
            <div class="col-12 mb-3">
                <label asp-for="Name" class="fw-bold d-block form-label mt-3">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-12">
                <label asp-for="Email" class="fw-bold d-block form-label mt-3">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-12">
                <label asp-for="Password" class="fw-bold d-block form-label mt-3">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-12">
                <label asp-for="DepartmentId" class="fw-bold d-block form-label mt-3">Department</label>
                <select asp-for="DepartmentId" class="form-select" asp-items="@ViewBag.Departments">
                    <option value="" selected>Choose...</option>
                </select>
                <span asp-validation-for="DepartmentId"></span>
            </div>
            <div class="col-12">
                <label asp-for="IntakeId" class="fw-bold d-block form-label mt-3">Intake</label>
                <select asp-for="IntakeId" class="form-select" asp-items="@ViewBag.Intakes">
                    <option value="" selected>Choose...</option>
                </select>
                <span asp-validation-for="IntakeId"></span>
            </div>
            <div class="col-12">
                <label asp-for="UserImg" class="fw-bold d-block form-label mt-3">Image</label>
                <input asp-for="UserImg" class="form-control"/>
                <span asp-validation-for="UserImg"></span>
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-end gap-3">
            <input type="submit" value="Register" class="btn btn-success d-inline-block  px-3" />
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
